* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
}

.title {
  padding: 10px 0;
}

.logo {
  display: block;
  margin: 0px auto 10px;
  height: 40px;
  width: 40px;
}

h1 {
  text-align: center;
  font-size: 30px;
}

.message_area {
  background-color: #eff7fe;
  height: 77vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  background-blend-mode: overlay;
}

.message_area div:first-child {
  padding-top: 5px;
}

.message_area::-webkit-scrollbar {
  width: 5px;
}

.message_area::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(28, 157, 234, .15);
}

.message_area::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #eff1f2;
}

.message-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-center .joined {
  font-size: 12px;
  font-weight: 500;
  background-color: #1c9dea;
  color: #fff;
  padding: 2px 10px;
  border-radius: 5px;
  margin: 5px 0;
}

.message-left {
  margin-right: 30%;
  padding: 10px 0px 10px 10px;
}

.message-right {
  margin-left: 30%;
  padding: 10px 10px 10px 0px;
  text-align: end;
}

.message-left .user {
  text-align: start;
  padding: 0px 0px 2px 20px;
}

.message-right .user {
  text-align: end;
  padding: 0px 20px 2px 0px;
}

.user {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  clear: both;
}

.message {
  display: inline-block;
  border-radius: 30px 25px 0 30px;
  color: #223645;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 600;
  padding: 16px 20px;
}

.message-left .message {
  border-radius: 25px 30px 30px 0px;
  background-color: #1c9dea;
  color: #fff;
}

.message-right .message {
  border-radius: 30px 25px 0 30px;
  background-color: #e5edf5;
}

#write_message {
  font-family: 'Montserrat', sans-serif;
  width: 90%;
  border: 0;
  font-size: 17px;
  color: #647589;
  padding: 10px 10px;
  resize: none;
  scrollbar-width: none;
}

#write_message::-webkit-scrollbar {
  display: none;
}

#write_message::placeholder {
  letter-spacing: 0.5px;
  font-family: 'Montserrat', sans-serif;
}

#write_message:focus {
  box-shadow: none;
  outline-color: transparent !important;
  text-decoration: none !important;
}

.send_message {
  background-color: #fff;
  transition: all .5s;
  padding: 10px 5px 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid rgba(28, 157, 234, 0.5);
}

.send_btn {
  height: 41px;
  width: 44px;
  border-radius: 100%;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  border: 0 !important;
  background-color: #1c9dea;
  border-color: #1c9dea !important;
  color: #fff !important;
  transition: all .3s ease;
  cursor: pointer;
}

.send_btn svg {
  width: 19px;
  height: 20px;
  stroke-width: 3px;
  vertical-align: middle;
}